<!-- Navigation -->
{{> navbar}}

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/background5.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Heat Map</h1>
          <h4>Live Market </h4>
          <h2>Stock Name & Price</h2>
          <input id="stock-input" class="form-control mr-sm-2" type="search" placeholder="Enter a Stock"
            aria-label="Search">
          <button id="select-stock" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="container">
        <div class="row">
          <div class="col m6 left">
            <table style="float: left;" style="display: inline-block;" cellpadding="0" cellspacing="0" border="1"
              class="heat-map">
              <thead>
                <tr>
                  <th>IV</th>
                  <th>Calls</th>
                  <th>Strike</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="IVC"></td>
                  <td id="calloptions"></td>
                  <td id="strike-price"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col m6 right">
            <table style="float: right;" style="display: inline-block;" cellpadding="0" cellspacing="0" border="1">
              <thead>
                <tr>
                  <th>Strike</th>
                  <th>Puts</th>
                  <th>IV</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="strike-priceP"></td>
                  <td id="putoptions"></td>
                  <td id="IV"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Footer -->
{{> footer}}