body {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../styles/finance.png);
  height: 100vh;
  background-size: cover;
  background-position: center;


}

.Green{
color: green;
}

.Red{
  color: red;
  }